.topNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #FFB33F;
    height: 80px; 
}

.imgContainer {
    height: 100%;
    display: flex;
    justify-self: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15rem;
}
.imgContainer img {
    margin-right: auto;
    height: 4rem;
}

.userDetails p:first-child {
    color: #08332F;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}
.userDetails p:last-child {
    color: #664819;
    font-size: 1rem;
    font-weight: bold;
}